flows.json
[{"id":"4211c81de39edf51","type":"tab","label":"WLED","disabled":false,"info":"","env":[]},{"id":"0f0bf34971737096","type":"http request","z":"4211c81de39edf51","name":"http POST","method":"POST","ret":"obj","paytoqs":"ignore","url":"192.168.0.49/json","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Content-Type","keyValue":"","valueType":"application/json","valueValue":""}],"x":850,"y":200,"wires":[[]]},{"id":"8aec719d765eeb06","type":"inject","z":"4211c81de39edf51","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":true}","payloadType":"json","x":580,"y":660,"wires":[[]]},{"id":"9474e3775f856e85","type":"inject","z":"4211c81de39edf51","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":false}","payloadType":"json","x":560,"y":480,"wires":[[]]},{"id":"65a52191cc76c17b","type":"inject","z":"4211c81de39edf51","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":true,\"ps\":1}","payloadType":"json","x":580,"y":440,"wires":[[]]},{"id":"2ab2c79a032005a2","type":"inject","z":"4211c81de39edf51","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"on\":true,\"ps\":2}","payloadType":"json","x":580,"y":380,"wires":[[]]},{"id":"3dfd8f69b77f40df","type":"signalk-send-pathvalue","z":"4211c81de39edf51","name":"send path plus meta","source":"","meta":"{\"displayName\":\"WLED Status\",\"type\":\"multiple\",\"possibleValues\":[{\"title\":\"OFF\",\"value\":\"off\",\"abbrev\":\"OFF\"},{\"title\":\"Warm\",\"value\":\"1\",\"abbrev\":\"Warm\"},{\"title\":\"Blue\",\"value\":\"2\",\"abbrev\":\"Blue\"},{\"title\":\"preset3\",\"value\":\"3\",\"abbrev\":\"preset3\"}]}","x":760,"y":80,"wires":[]},{"id":"cb5a8209de33f079","type":"delay","z":"4211c81de39edf51","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":340,"y":80,"wires":[["41a59502cb5837b7"]]},{"id":"41a59502cb5837b7","type":"change","z":"4211c81de39edf51","name":"set payload off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"environment.WLED.status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":80,"wires":[["3dfd8f69b77f40df","0402de35b785fbad"]]},{"id":"1c0c2d0dd8b0125e","type":"inject","z":"4211c81de39edf51","name":"initialise once","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"initialise","payload":"","payloadType":"num","x":160,"y":60,"wires":[["cb5a8209de33f079"]]},{"id":"331b0e12334f1c87","type":"signalk-put-handler","z":"4211c81de39edf51","name":"PUT handler environment.WLED.status","path":"environment.WLED.status","x":190,"y":140,"wires":[["fc5b7e480c6a2d34"]]},{"id":"fc5b7e480c6a2d34","type":"switch","z":"4211c81de39edf51","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":350,"y":220,"wires":[["0402de35b785fbad"],["890e14a3da5125de"],["9035e9aab9e78ec6"],["106c16f9b2d579b2"]]},{"id":"0402de35b785fbad","type":"change","z":"4211c81de39edf51","name":"off = {\"on\":false\"} ","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":false}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":140,"wires":[["0f0bf34971737096"]]},{"id":"890e14a3da5125de","type":"change","z":"4211c81de39edf51","name":"{\"on\":true,\"ps\":1}","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"ps\":1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":180,"wires":[["0f0bf34971737096"]]},{"id":"9035e9aab9e78ec6","type":"change","z":"4211c81de39edf51","name":"{\"on\":true,\"ps\":2}","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"ps\":2}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":220,"wires":[["0f0bf34971737096"]]},{"id":"106c16f9b2d579b2","type":"change","z":"4211c81de39edf51","name":"{\"on\":true,\"ps\":3}","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"on\":true,\"ps\":3}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":260,"wires":[["0f0bf34971737096"]]}]